<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div style="width:100%;">
  <div style="display: inline-block;border:0px solid green;width:20%">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre de la ciudad" value="{{ myCapital.getNombre() }}">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Oro en palacio" value="{{ myCapital.getPalacio().getOroActual() }}">
      </mat-form-field>
    </form>

    <div style="padding-bottom: 10px; border-bottom:1px solid gainsboro;">
      <button (click)="muestraCI();">CENTRO DE INVESTIGACIÓN</button>
      <br>
      {{  myCI.getStatus() }}
    </div>
    <button (click)="muestraSilos();">SILOS</button>
    <div id="listaCI" *ngFor="let almacen of mySilos.getLista()">
          <ul>
              <li>
                {{ almacen.getCantidad() }} de un máximo de {{ almacen.getMaxCantidad() }}
              </li>
            </ul>
    </div>
    <button (click)="muestraCuartel();">CUARTEL</button>
    <div>{{ myCuartel.getStatus() }}</div>
  </div>

  <div id="detalleCI" [ngStyle]="{ 'display' : activoCI() }" style="border:0px solid red;width:79%; height:100%; vertical-align:top;">
    <div style="display: inline-block;border:0px solid red; vertical-align:top;height:100%;width:30%;" *ngFor="let investigacion of myCI.getLista()">
      <ul>
        <li class="cabecera1">
          {{ investigacion.getNombre() }}
          <ul *ngFor="let subinvestigacion of investigacion.getLista()">
            <li class="cabecera2">{{ subinvestigacion.getNombre() }}
              <ul *ngFor="let itemInvestigacion of subinvestigacion.getLista()">
                <li #parentLI [ngStyle]="{ 'color': getColorInvestigacion( itemInvestigacion ) }" style="height:50px;vertical-align:bottom;">
                  {{ itemInvestigacion.getNombre() }} [ {{ itemInvestigacion.getPrecio() }} ]
                  <button *ngIf="parentLI.style.color=='green'"  mat-button (click)="investiga( itemInvestigacion );">INVESTIGAR</button>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div id="detalleSilos"  [ngStyle]="{ 'display' : activoSilos() }" style="border:0px solid red;width:79%; height:100%; vertical-align:top;">
      <div style="display: inline-block;border:0px solid red; vertical-align:top;height:100%;width:100%;">
        <h3>Almacenamiento</h3>
      </div>
  </div>

  <div id="detalleCuartel"  [ngStyle]="{ 'display' : activoCuartel() }" style="border:0px solid red;width:79%; height:100%; vertical-align:top;">
    <h3>Tropas</h3>
    <div id="listaCuartel" *ngFor="let unidades of myCuartel.getTipoUnidadesPermitidas()">
      <ul>
          <li>
            <b>{{ unidades.unidad.getNombre() }}</b> Coste: {{ unidades.unidad.getCosteUnitario() }} oro Unidades: {{ unidades.cantidad }}
            <button *ngIf="unidades.investigacion.getPrecio() <= myCapital.getPalacio().getOroActual()" mat-button 
              (click)="myCuartel.entrena( unidades );">ENTRENAR {{ unidades.unidad.getMaxUnidadesEnEntrenamiento() }}</button>
          </li>
        </ul>
    </div>
  </div>
</div>
