<div style="width:100%;border:0px solid green;">
  <div style="display:inline-block;border:1px solid red;width:20%">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre del país" value="{{ myImperio.getNombre() }}">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Oro en palacio" value="{{ myCapital.palacio.getOroActual() }}">
      </mat-form-field>
    </form>
    <div class="edificio" style="display: inline-block;padding-left:3px;">MINAS DE ORO</div>
    <div class="edificio" style="display: inline-block;">{{numeroMinasDeOro()}}</div>
    <div style="padding-left:8px;">
      <input class="btn btn-primary btn-sm" type="button" value="Construir [{{costeMinaDeOro()}} oro][{{tiempoMinaDeOro()}} s.]" (click)="setMinaDeOro();">  
    </div>
    <div id="listaMO" *ngFor="let mina of getMinasDeOro()">
        <ul>
            <li>
              {{ mina.getNombre() }} tiene {{ mina.getOroActual() }} de una capacidad máxima de {{ mina.getMaxAlmacen() }}
              [<div style="display:inline-block;" *ngIf="mina.estaActiva()"> Activa </div><div style="display:inline-block;" *ngIf="!mina.estaActiva()"> Agotada </div>]
              <div>{{ mina.getStatus() }}</div>
            </li>
          </ul>
    </div>

    <div class="edificio" style="display: inline-block;padding-left:3px;">GRANJA</div>
    <div class="edificio" style="display: inline-block;">{{numeroGranjas()}}</div>
    <div style="padding-left:8px;"><input class="btn btn-primary btn-sm" type="button" value="Construir [{{costeGranja()}} oro][{{tiempoGranja()}} s.]"  (click)="setGranja();"></div>
    <div id="listaGR" *ngFor="let granja of getGranjas()">
          <ul>
              <li>
                {{ granja.getNombre() }} tiene {{ granja.getComidaActual() }} de una capacidad máxima de {{ granja.getMaxAlmacen() }}
                [<div style="display:inline-block;" *ngIf="granja.estaActiva()"> Activa </div><div style="display:inline-block;" *ngIf="!granja.estaActiva()"> Agotada </div>]
                <div>{{ granja.getStatus() }}</div>
              </li>
            </ul>
    </div>


    <div class="edificio" style="display: inline-block;padding-left:3px;">SERRERIA</div>
    <div class="edificio" style="display: inline-block;">{{numeroSerrerias()}}</div>
    <div style="padding-left:8px;"><input class="btn btn-primary btn-sm" type="button" value="Construir [{{costeSerreria()}} oro][{{tiempoSerreria()}} s.]" (click)="setSerreria();"></div>
    <div id="listaSE" *ngFor="let serreria of getSerrerias()">
      <ul>
        <li>
          {{ serreria.getNombre() }} tiene {{ serreria.getMaderaActual() }} de una capacidad máxima de {{ serreria.getMaxAlmacen() }}
          [<div style="display:inline-block;" *ngIf="serreria.estaActiva()"> Activa </div><div style="display:inline-block;" *ngIf="!serreria.estaActiva()"> Agotada </div>]
          <div>{{ serreria.getStatus() }}</div>
        </li>
      </ul>
    </div>
  </div>

  <div id="mapa" style="display:inline-block;border:1px solid red;width:79%; height:100%; vertical-align:top;">
    <app-mapa></app-mapa>
  </div>

</div>
