<!--The content below is only a placeholder and can be replaced.-->
<!--
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/home', {outlets: {palacio: ['palacio']}}]">PALACIO</a></li>
        <li><a [routerLink]="['/home', {outlets: {palacio: ['ciudad']}}]">CIUDAD</a></li>
        <li><a [routerLink]="['/login', {outlets: {login: ['login']}}]">LOGIN</a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Satrapía 0.1</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="align_to_right"></span>
    <button mat-button [routerLink]="['/home', {outlets: {palacio: ['palacio']}}]"><mat-icon>account_balance</mat-icon> PALACIO</button>
    <button mat-button [routerLink]="['/home', {outlets: {palacio: ['ciudad']}}]"><mat-icon>account_circle</mat-icon> CIUDAD</button>
    <button mat-button [routerLink]="['/home', {outlets: {palacio: ['ciudad']}}]"><mat-icon>call_split</mat-icon> PAIS</button>
    <button mat-button [routerLink]="['/home', {outlets: {palacio: ['ciudad']}}]"><mat-icon>language</mat-icon> MUNDO</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<!--
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
    <h2>Cantidad: {{ cantidad }}</h2>
    <h2>Test Cantidad: {{ myPalacio.getOroActual() }}</h2>
    <textarea>{{ myCuartel.getTropas() }}</textarea>
  </div>
 -->
